### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [22]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame

pd_df = pd.read_csv(file_to_load)
pd_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [23]:
total_players = len(pd.unique(pd_df["SN"]))
tp_df = pd.DataFrame({
    "Total Players":[total_players]})
tp_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
average_price = pd_df["Price"].mean()
total_revenue = pd_df["Price"].sum()

total_purchases = len(pd.unique(pd_df["Purchase ID"]))
unique_items = len(pd.unique(pd_df["Item ID"]))

pa_df = pd.DataFrame({"Number of Unique Items":[unique_items], 
                      "Average Price":[average_price],
                      "Number of Purchases":[total_purchases],
                      "Total Revenue": total_revenue})

pa_df["Average Price"] = pa_df["Average Price"].map("${:,.2f}".format)
pa_df["Total Revenue"] = pa_df["Total Revenue"].map("${:,.2f}".format)

pa_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [30]:
gender_df = pd_df[["SN", "Gender", "Age"]].drop_duplicates()
gender_df

# Group by for gender


gender_group = gender_df.groupby("Gender").count()["SN"]
perc_gender = gender_group/total_players

renamed_gender = pd.DataFrame({"Total Count":gender_group, "Percentage of Players": perc_gender})


# percentage_of_players = renamed_gender["Total Count"]/[unique]
# renamed_gender["Percentage of Players"] = percentage_of_players



renamed_gender["Percentage of Players"] = renamed_gender["Percentage of Players"].map("{:,.2%}".format)
renamed_gender

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
# purchase_count = pd_df["SN"].value_counts()
# Creating series for each column then creating DF from those series
# G

gender_summary = pd_df.groupby("Gender").count()["SN"]
average_price = pd_df.groupby("Gender").mean()["Price"]
total_purchase = pd_df.groupby("Gender").sum()["Price"]
average_pp = total_purchase/gender_group
renamed_summary = pd.DataFrame({"Purchase Count":gender_summary, "Average Purchase Price": average_price,
                                "Total Purchase Value":total_purchase, "Avg Total Purchase per Person":average_pp})

renamed_summary["Average Purchase Price"] = renamed_summary["Average Purchase Price"].map("${:,.2f}".format)
renamed_summary["Total Purchase Value"] = renamed_summary["Total Purchase Value"].map("${:,.2f}".format)
renamed_summary["Avg Total Purchase per Person"] = renamed_summary["Avg Total Purchase per Person"].map("${:,.2f}".format)
# renamed_summary["Avg Total Purchase per Person"] = renamed_summary["Avg Total Purchase per Person"].map("${:,.2f}".format)
# renamed_summary["Total Purchase Value"] = renamed_summary["Total Purchase Value"].map("${:,.2f}".format)
renamed_summary

# pa_df["Average Price"] = pa_df["Average Price"].map("${:,.2f}".format)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [45]:
# print(pd_df["Age"].max())

bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99,34.99,39.99,40]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]
gender_df["Age Group"] = pd.cut(gender_df["Age"], bins, labels=group_names, include_lowest=True)

# Create a GroupBy object based upon "View Group"
# age_group = gender_df.groupby("Age Group").count()["SN"]
age_group= gender_df["Age Group"].value_counts()

pp_players = age_group/total_players
gender_demo = pd.DataFrame({"Total Count":age_group,"Percentage of Players":pp_players})
gender_demo = gender_demo.sort_index()
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map("{:,.2%}".format)
gender_demo

# # Find how many rows fall into each bin
# print(pd_df["Gender"].count())

# Get the average of each column within the GroupBy object
# ted_group[["180=-[]", "duration", "languages"]].mean()



# # new_index = pd_df.set_index("Age")

# # new_index

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+              5                 0.87%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99,34.99,39.99,40]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]
gender_df["Age Group"] = pd.cut(gender_df["Age"], bins, labels=group_names, include_lowest=True)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame